/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}

h1 {
    margin: 0;
    font-size: 2.5em;
    animation: slide-in 1s ease-out forwards;
    transform: translateX(-100%);
    opacity: 0;
}

h2 {
    margin-top: 10px;
}

@keyframes slide-in {
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Sección de contenido */
section {
    padding: 20px;
    margin: 20px 100px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

section:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h3 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
    position: relative;
    margin-top: 20px;
}

/* Botón de cambio de idioma */
#language-toggle {
    margin: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#language-toggle:hover {
    background-color: #0056b3;
}

/* Clase para ocultar secciones */
.hidden {
    display: none;
}

